
.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }

  /* body color */
  .body-color{
    background-color:#F1F1F3;
  }

  /* header style */

  nav{
    width: 1600px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: aqua; */
  }

h2 {
    font-size: 32px;
    font-weight: bold;
    /* margin: 160px 0px 0px 0px; */
}

button {
    color: #006A50;
    border: 1px solid #006A50 ;
    /* padding: 24px 160px 24px 1324px; */
}

/* main style */

/* section one style */
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1280px;
    height: 560px;
    background-color: rgba(198, 228, 214, 1);
    margin: 0px 160px;
    border-radius: 10px;
}

.hero-container {
    padding: 0px 0px 0px 59px;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-weight:500px;
    font-size: 24px;
    width: 622px;
    color: rgba(14, 14, 14, 0.5);
}

.sub-title {
    font-weight: bold;
    font-size: 56px;
    color: rgba(14, 14, 14, 1);
}

.hero-container-pic {
    width: 474px;
    height: 400px;
}

/* section two style */

.hero-2{
    width: 1280px;
    height: 765px;
    /* background-color: red; */
    margin: 0px 160px;
}

.hero-title{
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
}

.hero-sub-title{
    font-size: 18px;
    font-weight: 400px;
    color: #0c0b0b;
}
/* hero 2 er card style */
.hero-card{
    display: flex;
    gap: 24px;
    /* padding: 30px; */
}

.hero-card-1{
    background-color: rgb(163, 172, 185);
    padding: 30px;
    border-radius: 8px;
}

.hero-card-2{
    background-color: #C6E4D6;
    padding: 30px;
    border-radius: 8px;
}

.hero-card-3{
    background-color: #F7EBCF;
    padding: 30px;
    border-radius: 8px;
}

.card-title{
    font-size: 18px;
    font-weight: bold;
    color: #0E0E0E;
}

.card-sub-title{
    font-size: 18px;
    color: rgba(13, 41, 41, 1);
}

/* section three style */

.hero-3{
    width: 1280px;
    height: 1120px;
    margin: 20px 160px 0px 160px;
    /* background-color: aqua; */
    gap: 32px;
}

.satelite{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 32px;
    margin-bottom: 24px;
}

.satelite-img{
    width: 408px;
    height: 306px;
    border-radius: 12px;
    /* margin-bottom: 24px; */
    gap: 24px;
}

.satelite-title{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}

.satelite-sub-title{
    font-size: 18pxpx;
    color: #0E0E0E;
}

/* section four style */

.hero-4{
    width: 1280px;
    height: 464px;
    /* background-color: red; */
    margin: 0px 160px;
    margin-top: 80px;
}

.hero-4-art{
    text-align: center;
}

.hero-4-btn{
    font-size: 40px;
    font-weight: bold;
    justify-content: space-around;
    align-items: center;
    display: flex;
    gap:24px;
}
 
.hero-100{
    background-color: #FFFFFF;
    padding: 45px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 10px;
}

.hero-200{
    background-color: #C6E4D6;
    padding: 40px;
    font-size: 45px;
    font-weight: bold;
    border-radius: 10px;
}

input{
    width: 96%;
    text-align: center;
    height: 55px;
    margin-top: 29px;
    margin-left: 20px;
    color: #FFFFFF;
}

